$color1: white;
$color2: #8db917;
$color3: #1b9633;
$color4: #f3f3f3;
$color5: #888888;
$color6: #222;
$color7: #333;
$color8: rgba(0, 0, 0, 0.8);
$color9: black;
$color10: rgba(0, 0, 0, 0.3);
$color11: #272727;
$color12: #fcc922;
$color13: rgba(243, 243, 243, 0.8);
$color14: #cd9933;
$color15: #d2b00f;
$color16: rgba(0, 0, 0, 0.6);
$color17:#efefef;
$color18:#0c0d0f;
$color19:#3c2b0f;
$color20:#16191e;
$boxShadow1: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
$nameFont1: "DancingScript";
$nameFont2: "Roboto";
$nameFont3: "Coustard";
$nameFont4: "Montserrat";