@import '../abstracts/variable';
@import '../abstracts/mixin';

.wrapPaging {
    text-align: center;
    margin: 30px 0;
}

.btnPaging{
    color: $color9;
    border-radius: 0%;
    border: 1px solid $color14;
    background-color: $color14;
    padding: 0 15px;
}
.btnPaging.active{
    background-color: $color1 !important;
    color: $color14 !important;
}
