.wrapMenu{
    margin-top: 60px;
    margin-bottom: 30px;
}

.wrapFooter{
    margin-top: 60px;
}

.introduceTitle{
    font-family: $nameFont2;
    font-weight: 600;
}

.introduceDescription{
    color: $color5;
}

.titleMenu1{
    font-family: $nameFont1;
    color: $color15;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.titleMenu2{
    font-family: $nameFont2;
    font-weight: 500;
    color: $color9;
    font-size: 28px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
}

.rowMenu:nth-child(even){
    > div:first-of-type{
        order: 2;
    }
}

.food{
    margin: 40px 0 0 0;
}

.foodDescription1{
    font-weight: 600;
    color: $color7;
    font-size: 18px;
    padding: 0 0 auto auto !important;
}

.foodDescription2{
    color: $color5;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0 0 0;
}

.foodPrice{
    font-family: $nameFont1;
    color: $color14;
    background: $color1;
    padding: 0 0 0 5px;
    display: inline-block;
    @include translate(0, 1px);
}

// dots
.dots {
    display: flex;
    position: relative;
    span {
        background: $color1;
        padding: 0 5px 0 0;
        text-align: justify;
    }
}

.leaders{
    &::after{
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        content: "";
        border-bottom: 3px dotted $color21;
        position: absolute;
        bottom: 5px;
        left: 0; right: 0;
        z-index: -1;
    }
}
// end dots

// hide dots
.hideLeaders{
    .leaders{
        &::after{
            border-bottom: none;
        }
    }
}
// end hide dots

.rowIntroduce, .rowMenu{
    margin-top: 60px;
}

.rowIntroduce p{
    margin: 0;
}

@media(max-width:991px){
    .titleMenu1{
        font-size: 48px;
    }

    .food{
        margin: 30px 0 0;
    }

    .orderMenuImage{
        order: 0;
    }
    
    .rowIntroduce, .rowMenu{
        margin-top: 30px;
    }

    .wrapMenu{
        margin-top: 30px;
    }
    
    .wrapFooter{
        margin-top: 30px;
    }
}

@media(max-width:767px){
    
    .menuBlock{
        margin: 30px 0 0 0;
    }

    .foodDescription2{
        margin: 5px 0 0;
    }
}