@import '../abstracts/variable';
@import '../abstracts/mixin';

.contentBannerContact {
    padding: 60px 0 0 0;
    text-align: center;
}

.wrapBannerContact {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapBgBannerContact {
    background-color: $color10;
}

.textDescriptionBannerContact {
    color: $color1;
    font-size: 38px;
    line-height: 48px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 30px 0;
    font-family: $nameFont2;
}

.wrapBtnScrollBottomBannerContact {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 30px auto auto auto;
    cursor: pointer;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        border: 40px solid transparent;
        border-bottom-color: $color1;
        @include transition(0.5s);
    }

    &:after {
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 3px;
        left: 33px;
        content: '';
        border-left: 4px solid $color2;
        border-bottom: 4px solid $color2;
        @include transform(rotate(-45deg));
        @include transition(0.5s);
    }

    &:hover {
        &:before {
            border-bottom-color: $color2;
        }
    
        &:after {
            border-left: 4px solid $color1;
            border-bottom: 4px solid $color1;
            bottom: 10px;
        }
    }
}

@media (max-width: 991px) {
    .textDescriptionBannerContact {
        font-size: 24px;
        line-height: 34px;
    }
}