@import "../abstracts/variable";
@import "../abstracts/mixin";

h2{
    margin: 0;
}

.wrapLatestNews {
    padding: 0 0 60px 0;
}

.backgroudLastNews {
    position: relative;
    // background-color: $color20;
    // padding: 40px 0;
    // margin-bottom: 20px;
    
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 130px;
        top: 0 !important;
        background-color: $color18;
    }
}

.wrapImgItemLatestNews {
    display: block;
}

.wrapCategoryAndUserPostItemLatestNews {
    margin-bottom: 30px;
}

.titleHeadingLatestNews {
    font-weight: 500;
    @include splitText(2, 56px);
    font-size: 21px;
    line-height: 28px;
    color: $color6;
    @include transition(0.5s);
    font-family: $nameFont4;
    margin: 0;
}

.linkTitleLatestNews {
    display: block;
    margin-top: 15px;
    &:hover {
        text-decoration: none;
        .titleHeadingLatestNews {
            color: $color12;
        }
    }
}

.descriptionLatestNews {
    position: relative;
    @include splitText(3, 76px);
    font-family: $nameFont4;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color5;
    margin: 10px 0 0 0;
    text-align: justify;
}

.descriptionLatestDate {
    position: relative;
    @include splitText(3, 76px);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: $color5;
    font-family: $nameFont4;
    margin: 10px 0 0 0;
    span {
        font-weight: 400;
    }
}

.elementSlideLatestNews {
    margin-top: 30px;
}

.wrapInfoItemLatestNews {
    margin-top: 30px;
}

.updateNews {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: $color18;
    padding: 60px 0 0 0;
}



@media (max-width: 991px) {
    .backgroudLastNews::before {
        height: 90px !important;
    }
}

@media (max-width: 768px) {
    // .descriptionLatestNews {
    //     text-align: left;
    // }
    .titleHeadingLatestNews {
        @include splitText(2, 56px);
        font-size: 18px;
        line-height: 28px;
    }
    // .elementSlideLatestNews {
    //     margin-top: 15px;
    // }
    // .wrapLatestNews {
    //     padding: 0;
    // }
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
    .backgroudLastNews::before {
        height: 130px !important;
    }
}